* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

#header {
  position: fixed;
  width: 100%;
  z-index: 1000;
}

#nav {
  height: 126px;
  display: flex;
  padding: 0 40px;
  justify-content: space-between;
  background-color: #fff;
}

.blue-box {
  background-color: rgb(0, 81, 255);
  width: 18px;
  height: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 5px;
}

.sub-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.sub-nav a {
  text-decoration: none;
  color: #333;
}

.sub-nav a:hover {
  color: #757575;
}

.sub-nav p {
  margin: 0;
  padding: 0 9px;
}

.sub-nav p:nth-of-type(1) {
  font-size: 27px;
  font-weight: bold;
  margin-bottom: 3px;
}

.sub-nav:nth-last-child(1) a {
  padding: 0 12px;
}

.nav-item {
  display: inline-block;
  align-items: center;
  list-style: none;
}

.nav-item:nth-child(1) a {
  color: rgb(0, 81, 255);
}

#content {
  width: 40%;
  height: 952px;
  background-color: rgb(230, 218, 207);
}

.content-container {
  position: absolute;
  top: 526px;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  width: 60%;
  height: 60%;
}

.content-col {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 100%;
  padding: 0 20px;
}

.content-col {
  width: 50%;
}

.content-info {
  width: 100%;
  height: 90%;
  background-color: rgb(245, 236, 230);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 25px;
}

.content-info img {
  width: 50%;
  border-radius: 50%;
}

.content-info h3 {
  text-align: center;
  font-size: 25px;
  font-weight: bold;
}

.content-info .blue-line {
  width: 20%;
  height: 2px;
  background-color: rgb(0, 81, 255);
}

.content-info p {
  letter-spacing: 5px;
}

.content-social {
  width: 100%;
  height: 10%;
  background-color: #fff;
}

.content-social i {
  font-size: 10px;
}

.wrap {
  text-align: center;
  padding: 15px;
}

.content-social i {
  font-size: 18px;
  display: inline-block;
  padding: 0 5px;
  cursor: pointer;
}

.content-social i:hover {
  color: #757575;
  transform: scale(1.2);
}

.content-col:nth-child(2) {
  padding: 20px;
}

.content-col:nth-child(2) h1 {
  font-size: 100px;
}

.content-col:nth-child(2) h4 {
  font-size: 23px;
  padding: 20px 0;
}

.content-col:nth-child(2) p {
  padding-top: 25px; 
  word-spacing: 3px;
  font-size: 18px;
}

.content-col:nth-child(2) .btns {
  display: flex;
  padding: 20px 0;
}

.btns .btn {
  padding: 10px 28px;
  margin: 0 10px;
  border: 1px solid #000;
  border-radius: 20px;
  text-decoration: none;
  font-weight: bold;
}

.btns .btn:nth-child(1) {
  background-color: rgb(0, 81, 255);
  border: 1px solid rgb(0, 81, 255);
  color: #fff;
}

.btns .btn:nth-child(1):hover {
  background-color: #fff;
  border: 1px solid rgb(0, 81, 255);
  color: #000;
  transition: ease-in-out 0.2s;
}

.btns .btn:nth-child(2):hover {
  background-color: rgb(0, 81, 255);
  border: 1px solid rgb(0, 81, 255);
  color: #fff;
  transition: ease-in-out 0.5s;
}

#footer {
  width: 100%;
  height: 120px;
  background-color: #fff;
  display: flex;
  justify-content: space-between;
}

#footer .footer-col {
  display: flex;
  align-items: center;
  padding: 0 40px;
  color: #555;
  font-size: 14px;
}

.footer-col a {
  color: #555;
}

.footer-col:nth-child(2) div {
  padding: 0 20px;
  text-align: center;
}

.footer-col:nth-child(2) h5 {
  color: #000;
  font-size: 16px;
  font-weight: bold;
  padding-bottom: 9px;
}

.footer-col:nth-child(2) i {
  color: #000;
  font-size: 16px;
  padding: 0 5px;
  cursor: pointer;
}

.footer-col:nth-child(2) i:hover {
  color: #757575;
  transition: ease-in-out 0.2s;
  transform: scale(1.2);
}
